<template name="contribution_summary">
  <div class="buysellads-header center-on-small-only">
    <br/>
    <ul>
      <li class="truncate text-light">Contribution Summary</li>
      <!-- Current Price -->
      <li> Current Price:
        <a class="truncate blue-text text-lighten-2">Not started yet</a>
      </li>
      <!-- Time Left -->
      <li> Time Left:
        <a class="truncate blue-text text-lighten-2">Not started yet</a>
      </li>
      <!-- ETH Received -->
      <li> ETH Received:
        <a class="truncate blue-text text-lighten-2">Not started yet</a>
      </li>
    </ul>
  </div>
</template>
