<template name="contribution_summary">

  <div class="hero-network-summary">
    <ul>
      <li>CONTRIBUTION <br/> Summary</li>
      <li>
        <p class="status">Current Price:</p>
        <p class="value blue">Not started yet</p>
      </li>
      <li>
        <p class="status">Time Left:</p>
        <p class="value blue">Not started yet</p>
      </li>
      <li>
        <p class="status">ETH Received:</p>
        <p class="value blue">Not started yet</p>
      </li>
    </ul>
  </div>

</template>
