<template name="network_summary">
  <div class="buysellads-header center-on-small-only">
    <br/>
    <!-- Network Summary -->
    <ul>
      <!-- Client is connected -->
      {{#if isConnected}}
        <li class="truncate text-light">Network Summary</li>
        <li> Status:
          <a class="truncate green-text text-lighten-2">Connected</a>
        </li>
        <li> Network:
          {{#if isTestnet}}
            <a class="truncate green-text text-lighten-2">Testnet</a>
          {{else}}
            <a class="truncate red-text text-lighten-2">Not offical Testnet!</a>
          {{/if}}
        </li>
        <li> Current Block:
          {{#if isSynced}}
            <a class="truncate green-text text-lighten-2">{{currentBlock}}</a>
          {{else}}
            <a class="truncate blue-text text-lighten-2">Syncing</a>
          {{/if}}
        </li>
      <!-- Not connected -->
      {{else}}
        <li class="text-light">You also can use this application with</li>
        <li class="text-light">MetaMask and</li>
        <li class="text-light">Mist</li>
      {{/if}}
    </ul>
  </div>
</template>
