<template name="network_summary">
  <div class="buysellads-header center-on-small-only">
    <br/>
    <!-- Client is connected -->
    {{#if isConnected}}
    <ul>
      <li class="truncate text-light">Network Summary</li>
      <li> Status:
        <a class="truncate green-text text-lighten-2">Connected</a>
      </li>
      <li> Network:
        {{#if isMainNetwork}}
          <a class="truncate green-text text-lighten-2">{{getNetwork}}</a>
        {{/if}}
        {{#if isTestNetwork}}
          <a class="truncate white-text text-lighten-2">{{getNetwork}}</a>
        {{/if}}
      </li>
      <li> Current Block:
        {{#if isSynced}}
          <a class="truncate green-text text-lighten-2">{{latestBlock}}</a>
        {{else}}
          <a class="truncate blue-text text-lighten-2">Syncing</a>
        {{/if}}
      </li>
    </ul>
    <!-- Not connected -->
    {{else}}
      <br/>
      <span class="text-light">Try use me with</span>
      <li><a class="white-text" href="https://metamask.io/" target="_blank"><b>MetaMask</b></a></li>
      <li><a class="white-text" href="https://github.com/ethereum/mist" target="_blank"><b>Mist</b></a></li>
    {{/if}}
  </div>
</template>
